#ignoring all files with .class extension
**/*.class
#ignoring all directories named .idea
**/.idea/
#ignoring files with matching name ####.#### anywhere: (listed below)
Songs/Songs.iml
Songs/pom.xml